<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="/">
                <i class="fa fa-leaf"></i> &nbsp; Leaves Sample Application
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">How to</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>